<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .td0 {
            background-color: black;
            width: 20px;
            height: 20px;
        }
        
        .td1 {
            background-color: red;
            width: 20px;
            height: 20px;
            
        }

        .flex {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1>Checkerboard</h1>

        {% for i in range(number)  %}
            
        <div class="flex">

            {% for j in range(number) %}     
                <div class="td{{(i + j) % 2}}">
                </div> 
            {% endfor %}
        </div>
        {% endfor %}

</body>
</html>