<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    {% for user in users  %}
        <p>{{user.first_name}} {{user.last_name}} email: {{user.email}} <a href="update/{{user.id}}">update</a></p>
    {% endfor %}
    <h1>IT works!!!</h1>

    <h1>Add a user</h1>
<form action="/create_friend" method="POST">
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name">
    <label for="lname">Last Name:</label>
    <input type="text" name="last_name">
    <label for="occ" >Occupation:</label>
    <input type="text" name="email">
    <input type="submit" value="Add Friend">
</form> 
</body>
</html>