<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>show</title>
</head>
<body>
  <div class="container">
    
    <h1>User {{user.first_name}}</h1> 
    <p class="text-right"><a href="/">Home</a></p>
    
    <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{user.email}}</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/users/{{user.id}}/edit" class="card-link">Edit</a>
          <a href="/delete/{{user.id}}" class="card-link">Delete</a>
        </div>
      </div>

    </div>
  </body>
</html>